body{
  width: 1440px;
  margin: 0;
  padding: 0;
}
.container {
  width: 750px;
  margin: 0 auto;
}
ul li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
h1{
  display: flex;
  justify-content: center;
  background-color: #181818;
  color: palevioletred;
  padding: 5px;
}
.feedback{
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-color: #0d0d2b;
}
h2{
  display: flex;
  justify-content: center;
  color: white;
}
.list-interface{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.item-interface{
  background-color: white;
  border-radius: 50%;
  padding: 15px;
}
.form-feedback{
  position: relative;
}
.input-form{
  width: 100%;
  padding: 25px 0  25px 10px;
  border-radius: 10px;
  border: none;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-submit{
  position: absolute;
  right: 0;
  top: 13px;
  background-color: grey;
}
.rating{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rating > p{
  color: white;
}
.content-feedback{
  position: relative;
  margin-bottom: 20px;
}
.card-feedback{
  background-color: white;
  padding: 20px 10px;
  border: none;
  border-radius: 7px;
}
span{
  position: absolute;
  color: white;
  background-color: palevioletred;
  padding: 15px;
  border-radius: 50%;
  top: -17px;
  left: -10px;
}
.btn-edit{
  position: absolute;
  color: palevioletred;
  background-color: white;
  top: 0;
  right: 30px;
}
.btn-delete{
  color: palevioletred;
  background-color: white;
  position: absolute;
  top: 0;
  right: 5px;
}
.question{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}